<div class="dashboard">
    <div class="sub-title">
        <h1>All users</h1>
        <a href="/create"><i class="fa fa-user-plus"></i>Add New User</a>
    </div>
    <table>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {{#each users}}
            <tr>
                <td>{{username}}</td>
                <td>{{first_name}} {{last_name}}</td>
                <td>{{email}}</td>
                <td>{{role}}</td>
                <td>{{created_at}}</td>
                <td>{{updated_at}}</td>
                <td><a href="/librarianEdit/{{this.id}}"><i class="fa fa-edit edit-icon"></i></a></td>
                <td><a href="/librarianDelete/{{this.id}}"><i class="fa fa-trash delete-icon"></i></a></td>
            </tr>
        {{/each}}
    </table>
</div>