<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/book.css">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Libary</title>
</head>
<body>
    <header>
        <div class="logo">
            {{#unless session.isLoggedIn }}
                <a href="/">
                    <img src="/img/header/logo.png" alt="">
                    <span>JU LIBRARY</span>
                </a>
            {{else}}
                {{#if session.isAdmin}}
                    <a href="/dashboard">
                        <img src="/img/header/logo.png" alt="">
                        <span>JU LIBRARY</span>
                    </a>
                {{else}}
                    {{#if session.isLibrarian}}
                        <a href="/dashboard">
                            <img src="/img/header/logo.png" alt="">
                            <span>JU LIBRARY</span>
                        </a>
                    {{else}}
                        <a href="/books">
                            <img src="/img/header/logo.png" alt="">
                            <span>JU LIBRARY</span>
                        </a>
                    {{/if}}
                {{/if}}
            {{/unless}}
        </div>

        <div class="user">
            {{#if session.isLoggedIn}}
                <p>
                Hej, {{session.username}}
                <a href="/logout"> Logout</a>
                </p>
            {{else}}
                <a href="/login">Login</a>
            {{/if}}
        </div>
    </header>

    {{#if session.isAdmin}}
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/books">Books Catalog</a></li>
                <li><a href="/adminUserManagement">User Management</a></li>
            </ul>
         </nav>
    {{else}}
        {{#if session.isLibrarian}}
            <nav>
                <ul>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/books">Books Catalog</a></li>
                    <li><a href="/librarianUserManagement">User Management</a></li>
                </ul>
            </nav>
        {{else}}
            {{#if session.isMember}}
                <nav>
                    <ul>
                        <li><a href="/books">Dashboard</a></li>
                    </ul>
                </nav>
            {{/if}}
         {{/if}}
    {{/if}}

    {{{body}}}

    <footer class="footer-compact">
        <div class="footer-content">
            <div class="footer-copyright">
                <p>&copy; 2025 LibraryPro System v1.0</p>
            </div>
            <div class="footer-links">
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
    </footer>
</body>
</html>