<div class="edit">
    <h1>Update</h1>
    <form 
        {{#if session.isAdmin}}
            action="/adminUpdate/{{user.id}}"
        {{else}}
            {{#if session.isLibrarian}}
                action="/librarianUpdate/{{user.id}}"
            {{/if}}
        {{/if}}
                
        method="post"
    >
        <label for="firstName">First Name</label>
        <br>
        <input type="text" name="firstName" placeholder="Join" value="{{user.first_name}}">
        <br>
        <label for="lastName">Last Name</label>
        <br>
        <input type="text" name="lastName" placeholder="doe" value="{{user.last_name}}">
        <br>
        <label for="email">Email Address</label>
        <br>
        <input type="text" name="email" placeholder="join.doe@example.com" value="{{user.email}}" readonly>
        <br>
        <label for="username">Username</label>
        <br>
        <input type="text" name="username" placeholder="Choose a username" value="{{user.username}}" readonly>
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" name="password" placeholder="Create a password" value="{{user.password}}">
        <br>

        <!-- if admin (role: member, librarian, admin) -->
        {{#if session.isAdmin}}
            <label for="role">Role</label>
            <br>
            <select name="role" class="role">
                {{#if (eq user.role "member")}}
                    <option value="member">memeber</option>
                    <option value="librarian">librarian</option>
                    <option value="admin">admin</option>
                {{else}}
                    {{#if (eq user.role "admin")}}
                        <option value="admin">admin</option>
                        <option value="member">memeber</option>
                        <option value="librarian">librarian</option>
                    {{else}}
                        {{#if (eq user.role "librarian")}}
                            <option value="librarian">librarian</option>
                            <option value="admin">admin</option>
                            <option value="member">memeber</option>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </select>
            <br>
        {{/if}}

        <input type="submit" value="Update">
    </form>
    <p class="errorMessenge">
        {{#if error}}
            {{error}}
        {{/if}}
    </p>
</div>